body {
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #5e5e5e; }
p {
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #5e5e5e;
}
.black {
  color: #5e5e5e !important;
}
.grey {
  color: #9d9d9d !important;
}
.main-red {
  color: #f76c65 !important;
}
.main-yellow {
  color: #ffc396 !important;
}
a, a:hover {
  text-decoration: none !important;
  color: #9d9d9d;
}

.form-container {
  padding: 30px;
}
.koleksi-container {
  display: block;
  background: white;
  border-radius: 15px;
  min-height: 550px;
  margin-bottom: 20px;
}
.footer-code {
  display: block;
}
.koleksi-container .koleksi-photo {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0 ;
  object-fit: cover;
}
.koleksi-container .content {
  padding: 10px 30px 30px 30px;
}
.contorller {
  text-align: center; 
}
.contorller a{
  padding: 5px 15px; 
}
.right-code {
  display: inline-block;
} 
label {
  font-weight: 300;
}
small {
  opacity: .5;
  display: block;
  margin-top: 7px;
}
.tableo > tbody > tr > td {
  padding: 8px;
  font-size: 14px;
  line-height: 1.2;
  vertical-align: top;
}
.kode {
  position: relative;
  top: 20px;
  vertical-align: top;
  display: inline-block;
}
.btn-log-back {
  transition: 500ms all ease;
  padding: 10px 30px;
  font-size: 12px;
  color: white;
  background: #df1479;
  border: 1px solid #df1479;
  border-radius: 5px; }
.btn-log-back:hover {
  color: white;
  background: #bd0d65; }
.qrcode {
  width: 80px;
  display: inline-block;
}
.kode span {
  display: block;
}
.side-margin {
  padding: 0px 150px; }

.side-left {
  padding-left: 150px; }

.side-right {
  padding-right: 150px; }

.background {
  background-color: #f9f9f9;
  width: 100%;
  height: 760px;
  background-size: cover; }

.background-museum { 
  background-color: white;
  border-bottom: 1px solid #ececec;
  /* height: 600px; */
}
.modal {
  background: rgba(255, 255, 255, 0.78);
}
.modal-content {
  box-shadow: none !important;
  border: none !important;
}
.background-form {
  background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
  background: -webkit-linear-gradient(left, #ffc797, #ff655c);
  background: -o-linear-gradient(left, #ffc797, #ff655c);
  background: linear-gradient(90deg, #ffc797, #ff655c);
  min-height: 702px; }

.navigation {
  margin: 40px 0;
  display: block; }
.nav2 {
  border-bottom: 1px solid #ddd;
}
.container-logo .logo {
  width: 100px; }

.right-nav {
  position: relative;
  top: 10px;
  float: right; }
  .right-nav a {
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    font-weight: 400;
    font-size: 14px;
    color: black;
    margin-left: 40px; }
  .right-nav a:hover {
    color: #f76c65;
    padding-bottom: 5px;
    border-bottom: 2px solid #f76c65; }
.sembro:hover {
  color: #f76c65 !important;
}
.toggle-password {
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.alert-red {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e1e4e9;
}
.alert-red span {
  position: relative;
  top: -3px;
  color: #9099a7;
}
.la-red {
  margin-right: 7px;
  font-size: 20px;
  color: #f52a61;
}
.la-green {
  margin-right: 7px;
  font-size: 20px;
  color: #49e41a;
}
.form-search {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.form-search .input-search {
  display: inline-block;
  width: 100%;
  padding: 15px 20px !important;
}
.form-search .btn-search {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: #ffffff;
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 4;
}
.bawang {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.bawang h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.bawang p {
  font-size: 14px;
  margin-bottom: 20px;
}
.bawang .s-left {
  margin-top: 30px;
  font-size: 12px;
}
.bawang .s-right {
  text-align: right;
  font-size: 20px;
  position: relative;
  top: -5px;
  font-weight: bold;
  float: right;
}
.addon {
  width: 100%;
  float: left;   
  position: relative;
}
.form-control-feedback {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
}
.little-mid {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.little-mid span {
  display: inline-block;
  margin-right: 20px;
}

.right-nav1 {
  position: relative;
  top: 10px;
  float: right; }
  .right-nav1 a {
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    font-weight: 400;
    font-size: 16px;
    color: black;
    margin: 0 20px; }
  .right-nav1 a:hover {
    opacity: .5; }

.right-nav2 {
  position: relative;
  top: 10px;
  text-align: right; }
  .right-nav2 a {
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    font-weight: 400;
    font-size: 16px;
    color: #343434;
    margin: 0 20px; }
  .right-nav2 a:hover {
    opacity: .5; }

.inner-text {
  position: relative;
  top: 100px;
  color: black !important; }
  .inner-text .elips {
    width: 7px;
    height: 7px;
    margin-right: 5px;
    margin-top: -2px;
    display: inline-block;
  }
  .inner-text span {
    font-size: 12px;
    background-color: #ffefe0;
    padding: 6px 20px;
    border-radius: 100px;
    color: #ef9b53;
    margin-bottom: 20px;
    display: inline-block;
  }
  .inner-text h1 {
    font-size: 45px;
    margin: 0 0 20px 0;
    line-height: 1.2;
    width: 400px;
    font-weight: 800;}
  .inner-text p {
    width: 400px;
    font-weight: 300;
    line-height: 1.9;
    margin-bottom: 50px; }
  .inner-text .download {
    -webkit-transition: 500ms all ease;
    -o-transition: 500ms all ease;
    transition: 500ms all ease;
    background-color: #ff655c;
    padding: 20px 60px;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    font-size: 16px; }
  .inner-text .download:hover {
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19); }
  .inner-text .tagline {
    display: block;
    position: relative;
    top: 150px; }

.inner-text2 {
  position: relative;
  top: 140px;
  color: white !important; }
  .inner-text2 h1 {
    width: 370px;
    font-size: 30px;
    margin: 0 0 40px 0;
    line-height: 1.4;
    font-weight: 400; }
  .inner-text2 h4 {
    width: 370px;
    font-weight: 300;
    line-height: 1.9;
    font-size: 16px;
    margin-bottom: 50px; }
  .inner-text2 .tagline {
    display: block;
    position: relative;
    top: 80px; }
.video {
  width: 100%;
  height: 10px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
  top: 5px;
}
.droid {
  width: 580px;
  position: relative;
  top: 70px; 
  right:70px;}
.middle-titlew h1 {
  font-weight: 800;
  line-height: 1.4;
  font-size: 30px;
  margin-bottom: 30px; }
.middle-title h1 {
  font-weight: 800;
  line-height: 1.4;
  font-size: 30px;
  margin-bottom: 30px; }
.middle-title h1:after {
  content: " ";
  margin-top: 30px;
  width: 50px;
  display: block;
  border-bottom: 5px solid #5e5e5e;
}
.bg-gabung {
  background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
  background: -webkit-linear-gradient(left, #ffc797, #ff655c);
  background: -o-linear-gradient(left, #ffc797, #ff655c);
  background: linear-gradient(90deg, #ffc797, #ff655c);
  padding: 120px 0;
}
.bg-gabung h1 {
  font-weight: 800;
  color: white;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 30px;
}
.bg-gabung a {
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease;
  background-color: white;
  padding: 20px 60px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  color: #ffb089;
  font-size: 16px;
}
.bg-gabung h4 {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bg-gabung p {
  line-height: 2;
  color: white;
}
.panel-custom {
  padding: 6px 20px;
}
.panel-title a {
  font-size: 14px;
  font-weight: 600;
}
.todo li {
  padding: 5px 0;
  margin-left: -20px;
  list-style: none; 
}
.todo li .title {
  font-weight: 600;
  font-size: 20px;
}
.todo li span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
}
.middle-title h4 {
  color: #9c9c9c;
  font-size: 14px;
  width: 520px;
  font-weight: 400;
  line-height: 1.9; }

.middle-titlew h4 {
  color: #9c9c9c;
  font-size: 14px;
  width: 520px;
  font-weight: 400;
  line-height: 1.9; }


.box-outter:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.box-outter {
  -webkit-transition: 500ms all ease;
  -o-transition: 500ms all ease;
  transition: 500ms all ease;
  padding: 40px 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  background-color: white; }
  .box-outter .image-fitur {
    width: 100%;
    height: 70px;
    margin-top: 25px;
    margin-bottom: 30px; }
  .box-outter .fitur-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; }
  .box-outter p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 20px; }

.bottom-video-container {
  background-color: #ececec;
  padding: 60px 0; }
  .bottom-video-container h4 {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 25px; }
  .bottom-video-container .see-video {
    color: white;
    font-size: 20px;
    border-radius: 20px;
    transition: 500ms all ease;
    padding: 20px 100px;
    background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
    background: -webkit-linear-gradient(left, #ffc797, #ff655c);
    background: -o-linear-gradient(left, #ffc797, #ff655c);
    background: linear-gradient(90deg, #ffc797, #ff655c); }
  .bottom-video-container .see-video:hover {
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  }

.footero {
  border-top: 1px solid #ddd;
  padding: 80px 150px;
  background-color: #fafafa; }
.footer {
  border-top: 1px solid #ddd;
  width: 100%;
}
.footer .text {
  display: block;
  width: 100%;
  padding: 20px 150px;
  background-color: #fafafa;
  display: inline-block;
  /* float: left; */
}
.footer .text p {
  display: inline-block;
  font-size: 12px;
  margin: 0;
}
.footer .text .text-right {
  float: right;
}
.footero .footer-right a {
  margin-top: 20px;
  margin-left: 40px;
  font-size: 14px;
  float: right;
  color: #5e5e5e;
}
.foot {
  height: 7px;
  width: 100%;
  background-color: red;
  background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
  background: -webkit-linear-gradient(left, #ffc797, #ff655c);
  background: -o-linear-gradient(left, #ffc797, #ff655c);
  background: linear-gradient(90deg, #ffc797, #ff655c); }

.trans1 {
  position: absolute;
  right: -600px;
  top: 0px; }

.trans2 {
  position: absolute;
  left: -40px;
  top: 270px;
  z-index: -2; }
:root {
    --orange:#ff655c;
    --yellow:#ffc797;
}
.panel-form {
  position: relative;
  top: 20px; }
.panel-form .form-control {
  font-size: 16px;
  padding: 20px 20px;
  box-shadow: 0px;
  border-radius: 10px; }
.empty-state {
  margin: 0 auto;
}
.empty-state img {
  width: 300px;
  position: relative;
  left: -10px;
}
.empty-state p {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}
.empty-state span {
  font-size: 12px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  width: 300px;
  position: relative;
}
  .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.panel-form .title {
  font-size: 20px;
  font-weight: 300;
  text-align: center; }
.panel-form .btn-log {
  transition: 500ms all ease;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  color: white;
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px; }
.panel-form .btn-log:hover {
  color: var(--orange);
  background: white; }
.bingo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.bingo2 {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px; 
}
.regis-panel {
  padding: 80px 0;
}
.panel-form2 h4 {
  font-weight: 600;
  margin-bottom: 30px;
} 
.panel-form2 p {
  font-weight: 300;
  font-size: 12px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
} 
.panel-form2 .form-control {
  font-size: 14px;
  padding: 30px 20px;
  border: 1px solid #ddd;
  box-shadow: none !important;
  border-radius: 5px; }
.panel-form2 .title {
  font-size: 20px;
  font-weight: 300;
  text-align: center; }
.panel-form2 .btn-log {
  transition: 500ms all ease;
  padding: 15px 10px;
  width: 100%;
  font-size: 16px;
  color: white;
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 5px; }
.panel-form2 .btn-log:hover {
  color: var(--orange);
  background: white; }
.orange {
  color: #f76c65 !important;
  padding-bottom: 5px;
  border-bottom: 2px solid #f76c65;
}
.container-new {
  width: 100%;
  transition: 500ms all ease;
}
.container-new:after {
  opacity: .0;
  content: '';
  width: 97.1%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  height: 200px;
  position: absolute;
  bottom: 30px;
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.newest-image {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-bottom: 30px; 
  border: 1px solid #eee;
}
.container-common {
  display: block;
  margin-bottom: 40px;
  position: relative;
  left: -15px;
}
.container-common p {
  font-size: 12px;
  margin-top: 15px;
  line-height: 1.7;
}
.title-event {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.title-event:before {
  content: " ";
  margin-bottom: 15px;
  display: block;
  height: 4px;
  width: 70px;
  background: #343434;
}
.title-poster {
  color: #5e5e5e;
  font-weight: bolder;
  font-size: 30px;
  z-index: 200;
  margin-bottom: 20px;
}
.title-poster:hover {
  color: #ff655c;
}
.title-museum {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
}
.title-museum:after {
  content: " ";
  display: block;
  width: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.title-date {
  /* display: inline-block; */
  position: relative;
  top: -10px;
  font-weight: bolder;
  font-size: 25px;
  float: right;
}
.title-content {
  margin-top: 20px;
  line-height: 2;
}
.image-poster {
  display: inline-block;
  width: 120px;
  height: 140px;
  object-fit: cover;
  border: 1px solid #eee;
}
.title-common {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
}
.title-place {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}
.container-common span {
  font-size: 12px;
}
.container-common .papo {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.help-block {
  margin-bottom: 0px;
}
.color-link {
  color: black;
}

/*Admin panel*/
.container-admin {
  width: 100%;
}
.container-admin .panel-left {
  background: linear-gradient(#d158ff, #587ed3);
  width: 20%;
  position: fixed;
  text-align: left;
  min-height: 100%;
  box-shadow: 5px 0px 20px 0px rgba(196, 196, 196, 0.78);
}
.container-admin .panel-top {
}
.logoan{
  width: 25%;
  margin: 20px 0 50px 35px;
}
.logoan-empty{
  width: 12%;
  margin: 15px 50px;
}
.img-admin {
  background-color: red;
  width: 100%;
}
.dash-title {
  padding: 20px 0px 20px 50px;
  color: #ACACAC;
  background-color: #f0eeee;
}
.container-admin .panel-left .panel-middle {
  text-align: left
}
.container-admin .panel-left .panel-middle a {
  display: block;
  color: #fff;
  font-size: 13px;
  transition: 500ms all ease;
  padding: 10px 30px;
  border-left: 3px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.container-admin .panel-left .panel-middle i {
  font-size: 20px;
  position: relative;
  top: 2px;
}
.container-admin .panel-left .panel-middle hr {
  margin: 25px 35px;
  opacity: .3;
}
.container-admin .panel-left .panel-middle span {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 35px;
  margin-bottom: 10px;
}
.container-admin .panel-left .panel-middle a:hover {
  background-color: rgba(0, 0, 0, 0.068);
  border-left: 3px solid rgba(0, 0, 0, 0.1);
}
.aactive {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-left: 3px solid white !important;
  color: white !important;
}
.panel-right {
  width: 80%;
  margin-left: 20%;
  background-color: #fff;
}
.fa-margin {
  margin-right: 15px;
}
.top-admin {
  padding: 50px 60px 100px 60px;
}
.name-admin {
  position: relative;
  top: -11px;
}
.fotone {
  width: 10%;
  border-radius: 100px;
  margin-left: 20px;
  padding: 2px;
  border: 1px solid #ddd;
}
.dash {
  margin-bottom: 50px;
}
.dash span {
  font-size: 12px;
}
.dash .timber {
  padding: 5px 15px;
  background-color: #eeeeee;
  border-radius: 5px;
  width: 100%;
  display: block;
}
.dash h1 {
  font-weight: bold;
}
.dash p {
  margin-top: 20px;
  width: 300px;
}
.info {
  margin-top: 80px;
}
.disc a {
  margin-top: 20px;
  display: inline-block;
}
.disc {
  display: inline-block;
  vertical-align: top;
}
.disc p {
  font-size: 11px;
}

.disc h4 {
  margin-top: -3px;
  margin-bottom: 20px;
  font-size: 14px;
  width: 250px;
}
.info picture {
  display: inline-block;
  vertical-align: top;
  width: 180px;
}
.info picture img {
  width: 150px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.menu-admin {
  display: block;
  position: relative;
  width: 100%;
}
.menu-admin a {
  padding: 30px 80px;
  padding-left: 105px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  display: inline-block;
  position: relative;
  width: 400px;
  margin-bottom: 20px;
  background-color: #886fe5;
}
.menu-admin .la-la {
  font-size: 30px;
  position: absolute;
  top: 26px;
  left: 60px;
}
.yellowku {
  background-color: #f6b75a !important;
}
.redku {
  background-color: #f52a61 !important;
}
.bread {
  z-index: 20;
  width: 100%;
  position: fixed;
  background-color: white;
  padding: 20px 30px 19px 30px;
  border-bottom: 1px solid #E8E8E8;
}
.bread .right-bread {
  display: inline-block;
  float: right;
  padding-right: 60px; 
} 
.bread .right-bread .auth-name {
  display: inline-block;
  margin-right: 50px;
}
.bread .placeholder-profil {
  background-color: #C2C2C2;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  right: 70px; 
}
hr {
  border-top: 1px solid #e7e7e7;
}
.info-museum-empty {
  color: red;
  border: #ddd;
  padding: 20px 50px;
  border-radius: 15px;
  background-color: #ddd;
  font-size: 16px;
}
.pengelola-profil {
  width: 100%;
  background-color: white;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.top-line {
  margin-top: 60px;
}
.museum-image {
  width: 100%;
  height: 240px;
  background-color: white;
  object-fit: cover;
  object-position: 0 -120px;
}
.museum-image2 {
  width: 100%;
  padding: 70px 0;
  vertical-align: center;
  background-color: #ddd;
  text-align: center;
  font-size: 20px;
  color: #B7B7B7;
}
.little-line {
  background: linear-gradient(90deg, #ffc797, #ff655c);
  width: 100%;
  height: 7px;
}
.title-profil {
  color: white;
}
.title-profil h4 {
  margin-bottom: 0px;
  font-weight: 300;
}
.title-profil h2 {
  margin-bottom: 0px;
  font-weight: 300;
  margin-top: 10px;
}
.bg-profil {
  background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
  background: -webkit-linear-gradient(left, #ffc797, #ff655c);
  background: -o-linear-gradient(left, #ffc797, #ff655c);
  background: linear-gradient(90deg, #ffc797, #ff655c);
  height: 130px;
  padding-top: 20px;
}
.bg-profil2 {
  background: -webkit-gradient(linear, left top, right top, from(#ffc797), to(#ff655c));
  background: -webkit-linear-gradient(left, #ffc797, #ff655c);
  background: -o-linear-gradient(left, #ffc797, #ff655c);
  background: linear-gradient(90deg, #ffc797, #ff655c);
  font-size: 24px;
  padding: 30px;
  color: white;
}
.content-profil {
  padding: 40px 40px 80px 40px;
  min-height: 650px;
}
.info-empty {
  font-weight: 300;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
.info-empty h3, .info-empty p {
  color: #9D9D9D;
  font-weight: 300;
}
.title-info {
  font-size: 16px;
}
.title-info h2 {
  margin: 0;
  font-weight: 300;
}
.title-info p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
  opacity: .5;
  width: 400px;
}
.table-fix {
  width: 100%;
}
.table-info > tbody > tr > td {
  padding: 15px 25px;
  font-size: 13px;
  background: white;
  border-bottom: 1px solid #e7e7e7; 
}
.table-info > thead > tr > td {
  padding: 15px 25px;
  font-weight: bold;
  background: #f5f5f5; 
}
.btn-log {
  transition: 500ms all ease;
  padding: 10px 30px;
  font-size: 12px;
  color: white;
  background: #886fe5;
  border: 1px solid #886fe5;
  border-radius: 5px; }
.btn-log:hover {
  color: white;
  background: #745dcf; }
.btn-log2 {
  transition: 500ms all ease;
  padding: 8px 40px;
  font-size: 14px;
  color: white;
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 10px; }
.btn-log2:hover {
  color: var(--orange);
  background: white; }

.form-control:focus {
    border-color: #ffc797;
    outline: 0;
    box-shadow: none;
}
.pengelola-museum {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  vertical-align: middle;
}
.museum-cover {
  position: absolute;
  bottom: 60px;
  left: 60px;
}
.museum-cover .museum-name {
  background-color: white;
  padding: 7px 13px;
  font-size: 20px;
  margin-bottom: 10px;
}
.museum-cover .museum-city {
  background-color: white;
  padding: 5px 14px;
  font-size: 14px;
  display: inline-block;
}
.image-museum {
  width: 100%;
}
.image-museum img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 20px;
}
.show-sm {
  display: none;
  position: fixed;
  background-color: #745dcf;
  width: 100%;
  height: 100%;
  z-index: 20;
  text-align: center;
  color: white;
  padding-top: 100px;
}
.show-sm img {
  opacity: .5;
  margin-bottom: 40px;
}
.show-sm h1 {
  font-size: 30px;
  font-weight: bold;
}
.show-sm p {
  color: white;
  opacity: .5;
  margin-top: 20px;
  font-weight: normal;
}
@media (max-width: 1199px) {
  .show-sm {
    display: block !important; } }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 70px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }