// Color pallete
$main-orange: #ff655c
$main-yellow: #ffc797
$main-black: #343434
$text-grey: #9c9c9c

// Common style
body
	font-family: 'Roboto'
	font-weight: 300
	color: $main-black
a
	text-decoration: none !important;
// Mixin
=bold-typekit
	font-family: 'Roboto'
	font-weight: 300
=transition
	transition: 500ms all ease

// homepage
.side-margin
	padding: 0px 150px
.side-left
	padding-left: 150px
.side-right
	padding-right: 150px
.background
	background-image: url('../img/jumbotron.jpg')
	background-repeat: no-repeat
	width: 100%
	background-size: cover 
.background-form
	background: linear-gradient(90deg, $main-yellow, $main-orange);
	min-height: 702px
.navigation
	margin: 40px 0
	vertical-align: middle
	display: block
.container-logo
	.logo
		width: 100px	
.right-nav
	position: relative
	top: 10px
	float: right
	a
		+transition
		font-weight: 400
		font-size: 16px
		color: white
		margin: 0 20px
	a:hover
		opacity: .5
.right-nav2
	position: relative
	top: 10px
	text-align: right
	a
		+transition
		font-weight: 400
		font-size: 16px
		color: $main-black
		margin: 0 20px
	a:hover
		opacity: .5
.inner-text
	position: relative
	top: 150px
	color: white !important
	h1
		font-size: 40px
		margin: 0 0 20px 0 
		line-height: 1.4
		font-weight: 500
	h4
		width: 450px
		font-weight: 300
		line-height: 1.9
		margin-bottom: 50px
	.download
		+transition
		background-color: white
		padding: 20px 80px
		border-radius: 20px
		color: $main-orange
		font-size: 16px
	.download:hover
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19)
	.tagline
		display: block
		position: relative
		top: 150px
.inner-text2
	position: relative
	top: 90px
	color: white !important
	h1
		width: 370px
		font-size: 40px
		margin: 0 0 20px 0 
		line-height: 1.4
		font-weight: 400
	h4
		width: 370px
		font-weight: 300
		line-height: 1.9
		font-size: 16px
		margin-bottom: 50px
	.tagline
		display: block
		position: relative
		top: 40px
.droid
	position: relative
	top: 110px
.middle-title
	h1
		font-weight: 300
		line-height: 1.4
		font-size: 40px
		margin-bottom: 30px
	h4
		color: $text-grey
		font-size: 16px
		width: 520px
		font-weight: 300
		line-height: 1.9
.box-outter:hover
	transform: scale(1.1)
.box-outter
	+transition
	padding: 40px 40px
	border: 1px solid #ddd
	border-radius: 20px
	text-align: center
	margin: 10px
	background-color: white
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.19)
	.image-fitur
		width: 100%
		height: 70px
		margin-top: 25px
		margin-bottom: 30px
	.fitur-title
		font-size: 25px
		font-weight: 400
		margin-bottom: 20px
	p
		line-height: 1.8
		margin-bottom: 20px
.bottom-video-container
	background-color: #ececec
	padding: 60px 0
	h4
		font-size: 20px
		margin: 0
		font-weight: 300
		font-size: 25px
	.see-video
		color: white
		font-size: 20px
		border-radius: 20px
		padding: 20px 100px
		background: linear-gradient(90deg, $main-yellow, $main-orange);
.footero
	padding: 100px 0
	.footer-text
		margin-top: 30px
.foot
	height: 20px
	width: 100%
	background-color: red
	background: linear-gradient(90deg, $main-yellow, $main-orange);
.trans1
	position: absolute
	right: -600px
	top: 0px
.trans2
	position: absolute
	left: -40px
	top: 270px
	z-index: -2
.panel-form
	position: relative
	top: 150px
	padding-left: 150px
	.form-control
		font-size: 18px
		padding: 25px 20px
	.title
		font-size: 25px
		font-weight: 300
		text-align: center